use asdf

yarn_check_error() {
    if ! yarn 2>&1 | grep -q "No preset version installed for command yarn"; then
        return 1
    fi
}

# Check if yarn is NOT available in the PATH or if it doesn't have been reshimed incorrectly by asdf
if ! which yarn &>/dev/null || yarn_check_error; then
    echo "Enabling yarn in nodejs"
    corepack enable
    asdf reshim nodejs
fi
